<!DOCTYPE html>
<html>
  <head>
    <title>CourierService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search Orders</a></li>
      <%if current_user %>
        <li><a href="/parcels">Parcels</a></li>
        <li><a href="/users">Manage Users</a></li>
        <li><a href="/service_types">Service Types</a></li>
        <li><%= link_to "Report", destroy_user_session_path, :method => 'delete' %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></li>
      <%else %>
        <li><%= link_to 'Create Parcel', new_parcel_path %></li>
        <%= link_to "Log in", new_session_path(:user) %><br />
      <%end%>
    </ul>
    <%= yield %>
  </body>
</html>
